@font-face {
  font-family: TwitterChirp;
  src: url('./fonts/Chirp-Bold.ebb56aba.woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: TwitterChirp;
  src: url('./fonts/Chirp-Heavy.f44ae4ea.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: TwitterChirp;
  src: url('./fonts/Chirp-Medium.f8e2739a.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TwitterChirp;
  src: url('./fonts/Chirp-Regular.80fda27a.woff2');
  font-weight: 400;
  font-style: normal;
}